
body {
	background-image: url(registration.jpg);
	background-repeat: repeat-x;
	padding-top: 50px;
}

h1, h2, span { background-color: blue; color: white }


.navbar:hover{font-weight: bold;font-size: large;}

.emllogo{height: 400px;}

.facebooklogo{height: 100px;}
