
body {color: gold}

h1  { background-color: blue; color: gold; }

header{}

.headings{ }
.navbar:hover{font-weight: bold;font-size: large;}

.emllogo{height: 400px;}

.facebooklogo{height: 100px;}

.facebooklogo:hover{height: 250px;}

.address{}

.address:hover{font-weight: bold;}
